html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  padding-top: 1rem;
	font-family: Consolas,monaco,monospace;
  background-color: #1c1c1c;
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 350px;
}

nav {
  display: flex;
  gap: 1.5rem;
}

a {
  color: #00ff00;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  margin-top: 2rem;
  border: #00ff00 1px solid;
  border-radius: 5px;
  padding: 0.5rem;
}

table, td, th {
  text-align: left;
  vertical-align:top;
}

th, td {
  padding: 0.5rem 1rem;
}

td.description {
  max-width: 20rem;
}

@media screen and (max-width: 940px) {
  th, td {
    padding: 0.25rem 0.5rem;
  }

  table {
    padding: 0;
  }

  td.description {
    max-width: 10rem;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    width: 200px;
  }

  h1 {
    font-size: 1.5rem;
    text-wrap: pretty;
    text-align: center;
    padding: 0 1rem;
  }

  tbody {
    flex-direction: column;
    display: flex;
    gap: 2rem;
  }
  
  tr {
    display: flex;
    flex-direction: column;
  }

  table {
    padding: 0.5rem;
  }

  td.description {
    max-width: 18rem;
  }
}
